# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Database
*.db
*.sqlite3
*.sqbpro

# ML Datasets (Don't push large datasets)
ml/datasets/

# Python build files
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db

# YOLO outputs
ml/notebooks/runs/
# Pretrained YOLO weights
ml/notebooks/yolo11n.pt

# Internal project tracking
PROJECT_PROGRESS.md
DEVELOPER_NOTES.md

#uploads and temptest
static/
temptest.ipynb

#tests
tests/
