# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# ML Datasets (Don't push large datasets)
ml/datasets/

# Python build files
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db